<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Maker</title>
  </head>
  <body>
    <h1>Welcome to Quiz Maker!</h1>
    <br />
    <button type="submit" onclick="login()" id="login">Login</button>
    <button type="submit" onclick="signup()" id="signup">Sign Up</button>
    <script>
      function signup() {
        window.location.href = "http://localhost:8000/signup";
      }
      function login() {
        window.location.href = "http://localhost:8000/login";
      }
    </script>
  </body>
</html>
